@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<ul class="navbar-nav ms-auto">
    @if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <form method="post" asp-page="/Account/Logout" class="form-inline">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="Account/Login">Login</a>
        </li>
    }

</ul>