@using FlaglerBookSwap.Models
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Users> SignInManager;
<ul class="navbar-nav ms-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <form method="post" asp-page="/Account/Logout" class="form-inline">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="Account/Login">Login</a>
        </li>
    }

</ul>