@page "Account/ChangePassword"
@model FlaglerBookSwap.Pages.Account.ChangePasswordModel
@{
    ViewData["Title"] = "Change your password";

}
<!--<body class="account-container">
    <div class="text-center">
        <h1 class="display-4 header-font">@ViewData["Title"]</h1>
    </div>
<div class="account-container">
    <div class="account-box">
        <h2 class="text-center mb-4">Change Password</h2>
        <form asp-action="ChangePassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>           
                <div class="mb-3">
                    <label asp-for="ChangePasswordViewModel.Email" class="form-label">Phone Number</label>
                    <input asp-for="ChangePasswordViewModel.Email" readonly/>
                </div>
                <div class="mb-3">
                    <label asp-for="ChangePasswordViewModel.NewPassword" class="form-label">Phone Number</label>
                    <input asp-for="ChangePasswordViewModel.NewPassword" class="form-control" />
                    <span asp-validation-for="ChangePasswordViewModel.NewPassword" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ChangePasswordViewModel.ConfirmNewPassword" class="form-label">Phone Number</label>
                    <input asp-for="ChangePasswordViewModel.ConfirmNewPassword" class="form-control" />
                    <span asp-validation-for="ChangePasswordViewModel.ConfirmNewPassword" class="text-danger"></span>
                </div>          
            <input type="submit" value="Submit" class="btn btn-success w-100 p-2" />
            <div class="text-center mt-2">
                <a asp-controller="Account" asp-action="VerifyEmail" class="text-decoration-none mt-3">Back</a>
            </div>
        </form>
    </div>
</div>
</body>
-->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}