@page
@model FlaglerBookSwap.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login";
}

<body class="account-container">
    <div class="text-center">
        <h1 class="display-4 header-font">@ViewData["Title"]</h1>
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">
                @TempData["SuccessMessage"]
            </div>
        }
    </div>
    <div class="center-box">
    <div class="account-box">
        <form asp-page="Login" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-3">
                    <label asp-for="LoginView.flagler_email" class="form-label">Email</label>
                    <input asp-for="LoginView.flagler_email" class="form-control" />
                    <span asp-validation-for="LoginView.flagler_email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                    <label asp-for="LoginView.Password" class="form-label">Password</label>
                    <input asp-for="LoginView.Password" class="form-control" />
                    <span asp-validation-for="LoginView.Password" class="text-danger"></span>
            </div>
            <!--<div class="float-end">
            <a class="text-decoration-none mt-3" asp-page="Register">
            Forgot password
            </a> 
            </div>  I don't know if u want a forget password button we do have the code for it atlesat-->
            <div class="form-check mb-3">                
                    <input asp-for="LoginView.RememberMe" class="form-check-input" />
                    <label asp-for="LoginView.RememberMe" class="form-check-label">Remember Me</label>
                </div>
            <input type="submit" value="Login" class="btn btn-success w-100 p-2" />
            <p class="text-center mt-2">
                Don't have an account? <a class="text-decoration-none mt-3" asp-page="Register">
                    Register
                </a>
            </p>          
        </form>
    </div> 
    </div>
</body>

@section Scripts 
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
     }
}