@page
@model FlaglerBookSwap.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<body class="account-container">
    <div class="text-center">
        <h1 class="display-4 header-font">@ViewData["Title"]</h1>
    </div>
    <div class="text-center"></div>
    <div class="account-content">
        <div class="account-box">
            <form asp-page="Register" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="RegisterViewModel.Name" class="form-label">Full Name</label>
                    <input asp-for="RegisterViewModel.Name" class="form-control" />
                    <span asp-validation-for="RegisterViewModel.Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="RegisterViewModel.Email" class="form-label">Email</label>
                    <input asp-for="RegisterViewModel.Email" class="form-control" />
                    <span asp-validation-for="RegisterViewModel.Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="RegisterViewModel.BirthYear" class="form-label">Birthyear</label>
                    <input asp-for="RegisterViewModel.BirthYear" class="form-control" />
                    <span asp-validation-for="RegisterViewModel.BirthYear" class="text-danger"></span>
                </div>
                <input type="submit" value="Register" class="btn btn-success w-100 p-2" />
                <p class="text-center mt-2">
                    Already have an account? <a class="text-decoration-none mt-3" asp-page="Login">
                        Login
                    </a>
                </p>
                <div class="text-center">
                    <a asp-controller="Home" asp-action="Index" class="text-decoration-none mt-3">Back</a>
                </div>
            </form>
            <div class="account-image">
                <img src="~/Images/flagler logo 3.png" style="width: 200px; height: auto;" alt="Flagler Logo" />
            </div>
        </div>
    </div>
</body>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
}
}
 