@page
@model ListingsModel
@{
    ViewData["Title"] = "Find the Book you want to list!";
}
<form method="post">
    <div class="text-center">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <select asp-for="Subject" class="form-control subject-dropdown">
                <option value="">Please select a subject</option>
                <option value="ACC">ACC</option>
                <option value="BUS">BUS</option>
                <option value="CIS">CIS</option>
                <option value="FIN">FIN</option>
                <option value="HIS">HIS</option>
                <option value="EDU">EDU</option>
                <option value="PSY">PSY</option>
                <option value="HTM">HTM</option>
                <option value="BIO">BIO</option>
                <option value="ENG">ENG</option>
                <option value="COR">COR</option>
            </select>
        </div>
        <div class="col-md-6">
            <input type="text" asp-for="ClassNumber" class="form-control" placeholder="Course Number" />
        </div>
        <div class="col-md-6">
            <select asp-for="Term" class="form-control">
                <option value="">Please select a term</option>
                <option value="Spring 2025">Spring 2025</option>
                <option value="Fall 2025">Fall 2025</option>
            </select>
        </div>
        <div class="col-md-6">
            <select asp-for="Section" class="form-control">
                <option value="">Please select a section</option>
                <option value="A">A</option>
                <option value="B">B</option>
            </select>
        </div>

    </div>
    <br />
    <input type="submit" value="Find Textbook" class="btn btn-success w-100 p-2" />
    <p class="text-center mt-2">
        Can’t find the textbook(s) you’re looking for? click here to enter the info manually!
        <a class="text-decoration-none mt-3" asp-page="/Search & List/ManualList">
            Manually list textbook
        </a>
    </p>
</form>

@if (Model.TextbookList != null && Model.TextbookList.Any())
{
    <div class="mt-4">
        <h3>Matching Textbooks</h3>
        <ul class="list-group">
            @foreach (var textbook in Model.TextbookList)
            {
                <li class="list-group-item">
                    <a asp-page="/Search & List/Details" asp-route-textbookId="@textbook.textbook_id">
                        @textbook.Book_Title
                    </a>
                </li>

            }
        </ul>
    </div>
}
else
{
    @Model.Message
}


@section Scripts {
    <script>
        $(document).ready(function () {
            $('.subject-dropdown').select2({
                placeholder: "Select a subject",
                allowClear: true,
                width: '100%'
            });
        });
    </script>
}
