@page
@model FlaglerBookSwap.Pages.Search___List.ManualSearchModel
@{
    ViewData["Title"] = "Manual search for Textbook";
}

<h1>@ViewData["Title"]</h1>
<form method="post">
    <!-- <input asp-for="SearchBook" class="custom-search" type="text" placeholder="Search by Isbn, Author, Book..." />
    <button type="submit" class="btn btn-primary">Submit</button> -->
</form>
