@page
@model FlaglerBookSwap.Pages.Search___List.ManualListModel
@{
    ViewData["Title"] = "Please input the necessary information to find the book you want to list (1 of 3 required)";
}

<body>
    <div class="text-center">
        <h2>@ViewData["Title"]</h2>
    </div>
</body>
