@page
@model FlaglerBookSwap.Pages.SearchingModel
@{
    ViewData["Title"] = "Search for a textbook";
}

<h1>@ViewData["Title"]</h1>

<body>
    <div class="text-center">
       
        <p>Can’t find the textbook(s) you’re looking for? click here to enter info manually!
            <a class="text-decoration-none mt-3" asp-page="/Search & List/ManualSearch">
                Search up a textbook
            </a>
        </p>

    </div>
</body>
