html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.side-by-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .side-by-side > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }

    .side-by-side img {
        margin-top: 10px;
    }


    .side-by-side .text-right,
    .side-by-side .text-left {
        flex: 1;
    }

.btn-font {
    font-family: 'Book Antiqua';
}

.header-font {
    font-family: 'Sans Serif Collection';
}

.body-home {
    background-color: #cf8e38;
}

.profile-clr {
    background-color: #E9423A;
}

.login-clr {
    background-color: #e7daa7;
}
.bookstore-clr{
    background-color: darkkhaki
}
.account-container {
    background-color: #e7daa7;
}


.account-box {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 100%;
    opacity: .9;
}
