@page
@using FlaglerBookSwap.Pages
@model FlaglerBookSwap.Pages.AboutUsModel
@{
    ViewData["Title"] = "About Us";
}
<div class="text-center">
    <h1 class="display-4 header-font">@ViewData["Title"]</h1>
</div>

<p>We created this to help students get rid of their old textbooks by giving them a platform to trade or sell </p>

