@page
@using FlaglerBookSwap.Models
@using FlaglerBookSwap.Pages
@model FlaglerBookSwap.Pages.AboutUsModel
@{
    ViewData["Title"] = "About Us";
}
<body class="Page-Color">
    <div class="text-center">
        <h1 class="display-4 header-font">@ViewData["Title"]</h1>
    </div>
    <div class="text-center">
        <h5>We started Flagler Book Swap to help Flagler students sell or trade their unwanted textbooks </h5>
        <h6>If you'd like to see the FAQ about how this website works, please click <a asp-page="/Faq">here</a></h6>
    </div>
    <br />
    <br />
    <div class="text-center">
        <h5>Meet the Team!</h5>
        <div class="side-by-side">
            <div class="text-right">
                <h6>Bryan Lindberg</h6>

                <img src="~/images/DSC00132-XL.jpg" style="width: 150px; height: auto;" alt="Bryan pfp" />
                <br />
                <p class="header-font">Hello, my name is Bryan Lindberg. I am a CIS student at Flagler College who is set to graduate on May 10th. I hope you enjoy our capstone project!</p>
                <a class="nav-linkbtn btn btn-outline-dark" href="https://github.com/bryanlindberg" target="_blank">My Github</a>

            </div>

            <div class="text-left">


                <h6>Reuel Belizaire</h6>
                <img src="~/images/DSC00132-XL.jpg" style="width: 150px; height: auto;" alt="Reuel pfp" />
                <br />
                <p class="header-font">Hello my name is Reuel Belizaire, I'm a Student Athlete here at flagler with a Major in CIS and a minor in Data Science</p>


                <a class="nav-linkbtn btn btn-outline-dark" href="https://github.com/Reuelbelizaire" target="_blank">My Github</a>

            </div>
        </div>
    </div>
    <div class="text-center">
        <!--I don't know what to add here yet-->

    </div>

</body>