@page
@using FlaglerBookSwap.Models
@using FlaglerBookSwap.Pages
@model FlaglerBookSwap.Pages.AboutUsModel
@{
    ViewData["Title"] = "About Us";
}

<style>
   
</style>

<body class="Page-Color">
    <div class="text-center">
        <h1 class="display-4 header-font">@ViewData["Title"]</h1>
    </div>
    <div class="text-center">
        <h5>This started as an idea to help students get rid of their used textbooks by creating this platform to trade or sell them! </h5>
        <br />
        <h6>below are the creators of the website and some information about themselves</h6>
        <br />

    </div>

    <div class="side-by-side">
        <div class="text-right">
            <h6>Bryan Lindberg</h6>

            <img src="~/images/DSC00132-XL.jpg" style="width: 150px; height: auto;" alt="Bryan pfp" />
            <br />

            <a class="nav-linkbtn btn btn-outline-dark" href="" target="_blank">My Github</a>

        </div>

        <div class="text-left">


            <h6>Reuel Belizaire</h6>
            <img src="~/images/DSC00132-XL.jpg" style="width: 150px; height: auto;" alt="Reuel pfp" />
            <br />
            <p class="header-font">Hello my name is Reuel Belizaire, I'm a Student Athlete here at Flagler with a Major in CIS and a minor in Data Science</p>


            <a class="nav-linkbtn btn btn-outline-dark" href="https://github.com/Reuelbelizaire" target="_blank">My Github</a>

        </div>
    </div>
    <div class="text-center">
        <!--I don't know what to add here yet-->

    </div>

</body>