@page
@using FlaglerBookSwap.Pages
@model FlaglerBookSwap.Pages.BookstoreModel
@{
    ViewData["Title"] = "Purchase New Books ";
}
<body class="bookstore-clr">
    <div class="text-center">
        <h1 class="display-4 header-font">@ViewData["Title"]</h1>
        <img src="~/Images/Flag-book.jpg" style="height:300px; width:auto" />
        <p>If you want to purchase new books then please click the button that will bring you to Flagler's bookstore!</p>
    </div>
    <a class= "nav-link text-dark btn btn-primary btn-font" href="https://flagler.bncollege.com/" target="_blank">
        <!-- if i make the target blank then it will make another tab instead of making the
                window go to the bookstore page
        -->
        Flagler's Bookstore
    </a>
</body>

