@page
@using FlaglerBookSwap.Pages
@model FlaglerBookSwap.Pages.FaqModel
@{
    ViewData["Title"] = "Where all your questions will be answered";
}
<div class="text-center">
    <h1 class ="display-4 header-font">@ViewData["Title"]</h1>
</div>


<table>
    <tr>
        <td>
        <h4>Q:How do you give away a book</h4>
        <p>When you list a book you would enter 0 for the asking price and click "No" when asked if you want to trade the book</p>
        </td>
    </tr>
</table>
