@page
@using FlaglerBookSwap.Models
@using FlaglerBookSwap.Pages
@model FlaglerBookSwap.Pages.MessageBoardModel
@{
    ViewData["Title"] = "Message Board";
}

<body class="Page-Color">
    <div class="text-center">
        <h1 class="display-4 header-font">@ViewData["Title"]</h1>
    </div>
</body>