@page
@model FlaglerBookSwap.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile";
}
<body class="profile-clr">
    <div class="text-center">
        <h1 class="display-4 header-font">@ViewData["Title"]</h1>
    </div>
    <p>Welcome to your profile </p>
</body>